@page "/manufacturing/supplychain/orderprocessing"
@inject ManufacturingApiService ApiService
<h3>OrderProcessing</h3>

@if (OorderProcessingList == null)
{
    <p>Loading.....</p>
}
else{
    <table>
        <thead>
            <tr>
                <th>OrderId</th>
                <th>CustomerName</th>
                <th>OrderDate</th>
                <th>DeliveryDate</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in OList)
            {
                <tr>
                    <td>@item.CustomerName</td>
                    <td>@item.OrderId</td>
                    <td>@item.OrderDate</td>
                    <td>@item.DeliveryDate</td>
                    <td>@item.Status</td>
                </tr>
            }
        </tbody>
    </table>
}


@code {
    private List<OrderProcessingResponse>? OList;
    protected override async Task OnInitializedAsync(){
        List<OrderProcessingResponse> orderProcessingResponses = await ApiService.ListOrderProcessingAsync();
        OList = orderProcessingResponses;
    }
}
